@use "../assests/style/" as *;
.dashboard-wrapper {
  width: 100%;
  padding: 2%;
  .add-location {
    margin-left: auto;
  }
  .upload-location-wrapper {
    width: 100%;
    background-color: $white;
    padding: 2%;
    border-radius: 1.5rem;
    margin-top: 1%;
    margin-bottom: 1%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    @include justify-content-between;
    @include align-items-center;
    .upload-wrapper {
      .note {
        color: $dark-red;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        margin-top: 2%;
        a {
          margin: 0 0.5%;
          color: $dark-red;
          text-decoration: underline;
        }
      }
      .upload-title {
        font-size: 2rem;
        font-weight: 500;
      }
    }
  }
}
.ant-btn-primary {
  background-color: $indigo;
}
.ant-btn-primary:hover {
  background-color: $indigo !important;
}
