@use "../../assests/style/" as *;

.ant-layout-header {
  background-color: #a1b8df;
  width: 100%;
  height: 12vh;
  line-height: 10px;
  padding: 0 15px;
}
.header-container {
  @include justify-content-between;
  @include align-items-center;
  height: 12vh;
  width: 100%;
  h3 {
    margin-bottom: 0;
    font-size: 25px;
    font-weight: 700;
  }
  .welcome-message {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 3%;
  }
  .dropdown-container {
    display: flex;
    align-items: center;
    // gap: 4%;
    gap: 2rem;
    .ant-badge .ant-badge-count {
      box-shadow: none;
    }
    .logout-btn {
      font-weight: 600;
      font-size: 15px;
      &:hover {
        background-color: transparent;
      }
    }
    .cart-icon {
      font-size: 25px;
      cursor: pointer;
    }
  }
}
.dropdown {
  cursor: pointer;
}
.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-title-content {
  height: 30px;
  p {
    margin: 0;
  }
}
