@use "../../assests/style/" as *;

.register-page-container {
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  object-fit: contain;
  @include justify-content-between;
  @include align-items-center;
  @include media("<md") {
    @include flex-column;
    padding: 2rem 0;
  }
  .register-form-container {
    padding: 0 5%;
    width: 30%;
    @include media("<md") {
      width: 80%;
    }
  }
  .register-logo-wrapper {
    width: 60%;
    @include justify-content-center;
    @include media("<md") {
      width: 100%;
    }
    .login-logo {
      height: 95vh;
      width: 80%;
      @include media("<md") {
        height: 60vh;
        width: 100%;
      }
    }
  }
}
